<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'PAGES.MODAL.SEARCH_OPTIONS' | translate }}</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
      <ion-icon name="funnel"></ion-icon>
      <ion-label>{{ 'PAGES.MODAL.SORT_BY' | translate }}</ion-label>          
    </ion-item>
    <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>{{ 'PAGES.MODAL.DISTANCE' | translate }}</ion-label>
            <ion-radio slot="end" value="dist" (ionSelect)="sortBy(0)"checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'PAGES.MODAL.RATING' | translate }}</ion-label>
            <ion-radio slot="end" value="rat" (ionSelect)="sortBy(1)"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'PAGES.MODAL.ALPHA' | translate }}</ion-label>
            <ion-radio slot="end" value="alp" (ionSelect)="sortBy(2)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>  
    <ion-item lines="none">
      <ion-icon name="pin"></ion-icon>
      <ion-label>{{ 'PAGES.MODAL.DISTANCE' | translate }} (km.)</ion-label>
    </ion-item>
    <ion-item>
      <ion-range [(ngModel)]="distance" pin min="20" max="150" color="primary">
          <ion-icon size="small" slot="start" name="locate"></ion-icon>
          <ion-icon slot="end" name="locate"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="cut"></ion-icon>
      <ion-label style="display: contents">{{ 'PAGES.MODAL.SERVICES' | translate }}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-select (ionChange)="getServices($event)" [(ngModel)]="services" placeholder="{{ 'PAGES.MODAL.SELECT_SERVICES' | translate }}" style="width: 100%; display: contents; " multiple>        
        <ion-select-option value="Hair Cut">{{ 'PAGES.MODAL.HAIR_CUT' | translate }}</ion-select-option>
        <ion-select-option value="Shaving">{{ 'PAGES.MODAL.SHAVING' | translate }}</ion-select-option>
        <ion-select-option value="Beard Trim">{{ 'PAGES.MODAL.BEARD_TRIM' | translate }}</ion-select-option>
        <ion-select-option value="Hair Dying">{{ 'PAGES.MODAL.HAIR_DYING' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

  <ion-button expand="block" fill="outline" (click)="dismissData()">{{ 'PAGES.MODAL.APPLY' | translate }}</ion-button>
</ion-content>

