<ion-header>
    <ion-toolbar>
        <ion-title>Search Options</ion-title>
        <ion-buttons slot="start">
            <ion-button>
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="compass"></ion-icon>
      <ion-label>{{ 'PAGES.MODAL.LOCATION' | translate }}</ion-label>
      <ion-input [(ngModel)]="location" placeholder="{{ 'PAGES.MODAL.LOCATION' | translate }}"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="pin"></ion-icon>
      <ion-label>{{ 'PAGES.MODAL.DISTANCE' | translate }} (km.)</ion-label>
    </ion-item>
    <ion-item>
      <ion-range [(ngModel)]="distance" pin min="20" max="150" color="primary">
          <ion-icon size="small" slot="start" name="locate"></ion-icon>
          <ion-icon slot="end" name="locate"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="cut"></ion-icon>
      <ion-label>{{ 'PAGES.MODAL.SERVICES' | translate }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="services['hair_cut']" color="primary"></ion-checkbox>
        <ion-label>{{ 'PAGES.MODAL.HAIR_CUT' | translate }}</ion-label>
      </ion-item>        
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="services['shaving']" color="primary"></ion-checkbox>
        <ion-label>{{ 'PAGES.MODAL.SHAVING' | translate }}</ion-label>
      </ion-item>        
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="services['beard_trim']" color="primary"></ion-checkbox>
        <ion-label>{{ 'PAGES.MODAL.BEARD_TRIM' | translate }}</ion-label>
      </ion-item>                       
    </ion-item> 
    <ion-item>
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="services['hair_dying']" color="primary"></ion-checkbox>
        <ion-label>{{ 'PAGES.MODAL.HAIR_DYING' | translate }}</ion-label>
      </ion-item> 
    </ion-item>           
  </ion-list>

  <ion-button expand="block" fill="outline" (click)="dismissData()">APPLY</ion-button>
</ion-content>

