<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PAGES.EDIT_PROFILE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="start">
        <ion-button defaultHref="/account-settings">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button defaultHref="/account-settings">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item lines="none" class="user-head">
        <img class="circle-pic" src="./assets/imgs/avatar.jpg" />
    </ion-item>    
    <ion-item style="margin-left: auto;margin-right: auto;" lines="none">
      <ion-button block clear class="button-no-background" color="transparent">{{ 'PAGES.EDIT_PROFILE.CHANGE_AVATAR' | translate }}</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="label">{{ 'PAGES.EDIT_PROFILE.NAME' | translate }}</ion-label>      
    </ion-item>
    <ion-item>
      <ion-input placeholder="{{ 'PAGES.EDIT_PROFILE.NAME' | translate }}"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="label">{{ 'PAGES.EDIT_PROFILE.PHONE_NUMBER' | translate }}</ion-label>      
    </ion-item>
    <ion-item>
      <ion-input placeholder="{{ 'PAGES.EDIT_PROFILE.PHONE_NUMBER' | translate }}" type="tel"></ion-input>
    </ion-item>        

    <ion-item lines="none">
      <ion-label class="label">{{ 'PAGES.EDIT_PROFILE.EMAIL' | translate }}</ion-label>      
    </ion-item>
    <ion-item>
      <ion-input placeholder="{{ 'PAGES.EDIT_PROFILE.EMAIL' | translate }}" type="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label class="label">{{ 'PAGES.EDIT_PROFILE.GENDER' | translate }}</ion-label>      
      </ion-item>
    <ion-select placeholder="{{ 'PAGES.EDIT_PROFILE.GENDER' | translate }}" class="selector">
      <ion-select-option value="f">{{ 'PAGES.EDIT_PROFILE.FEMALE' | translate }}</ion-select-option>
      <ion-select-option value="m">{{ 'PAGES.EDIT_PROFILE.MALE' | translate }}</ion-select-option>
      <ion-select-option value="o">{{ 'PAGES.EDIT_PROFILE.OTHER' | translate }}</ion-select-option>
    </ion-select>
</ion-content>
