<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home/list/{{ list_id }}"></ion-back-button>
        </ion-buttons>
    <ion-title>Barbershop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>      
      <ion-item>
        <ion-slides pager="true">
          <ion-slide *ngFor="let slide of slider">
            <img [src]="slide.image"/>
          </ion-slide>
        </ion-slides>
        <!--<img src="./assets/imgs/barber1.jpg" style="width: 100%;height: 40vh;">-->        
      </ion-item>
      <ion-item>
        <ion-label>Barbershop</ion-label>
        <ion-button block (click)="showLocation()">Show Location</ion-button>
      </ion-item>

      <ion-item class="center_row">
        <ion-item>
          <ion-label >Choose a date: </ion-label>
          <ion-button expand="full" (click)="datePick()">
            <ion-icon icon-only name="calendar" position="stacked"></ion-icon>
          </ion-button>           
        </ion-item>
        <ion-label text-center position="stacked">DD/MM/YYYY</ion-label>
        <ion-item>
          <ion-label position="stacked">Choose an available hour: </ion-label>
          <ion-select placeholder="Select One">
              <ion-select-option value="1">Hour 1</ion-select-option>
              <ion-select-option value="2">Hour 2</ion-select-option>
          </ion-select>  
        </ion-item>                 
      </ion-item>

      <ion-item>
        <ion-label text-center position="stacked">Barbershop options</ion-label> 
        <div class="center_row">                                   
          <ion-item text-center class="my-checkbox">
              <ion-checkbox name="hair_cut"></ion-checkbox>
              <ion-label>&nbsp; Hair Cut</ion-label>
          </ion-item>
          <ion-item float-left class="my-checkbox">
              <ion-checkbox name="shaving"></ion-checkbox>
              <ion-label>&nbsp; Shaving</ion-label>
          </ion-item>
        </div>
      </ion-item>

      <ion-item >
        <ion-label text-center position="stacked">Your Name: </ion-label>
        <ion-input text-center placeholder="Name"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label text-center position="stacked">Final Prize: </ion-label>
          <ion-label text-center position="stacked" name="prize">Prize</ion-label>         
          <ion-button>PAY</ion-button>
      </ion-item>
        <ion-label text-center>Comments</ion-label>
        <ion-card>
            <ion-avatar padding>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          <ion-card-header>
            <ion-card-subtitle>Rating: 4/5</ion-card-subtitle>
            <ion-card-title>Pablo Rodriguez</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            This application is awesome!
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-avatar padding>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          <ion-card-header>
            <ion-card-subtitle>Rating: 2/5</ion-card-subtitle>
            <ion-card-title>Manuel Herrera</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            This application is bullshit!
          </ion-card-content>
        </ion-card>
      <ion-item>
        
      </ion-item>
  </ion-list>
</ion-content>
