.my-checkbox {
    display: flex;
    align-items: center;
}

.availabe_hour {
    display: flex;
    align-items: center;
}

.date_chosen {
    display: flex;
    align-items: center;
}

.brbshop_options{
    display: flex;
    align-items: center;
}

.center_row{
    display: flex;
    align-items: center;
}

.title{
    font-size: 25px;
    text-align: center;
    margin-top: 5px;    
}

.demo-mobile-month-view {
    height: 100%;
}

ion-avatar {
    display: -webkit-inline-box;
    width: 75px;
    max-width: 75px !important;
    max-height: 75px !important;
    height: 75px;
}

ion-card-title {
    font-style: oblique;
}

.avatar-label {
    display: -webkit-inline-box;
    font-size: 20px;
}

.rating {
    color: #5e35b1;
    font-size: 50px;
    display: inline-flex;
    margin: 0 auto;
}

.comment-rate {
    font-size: 20px;
}

.cancel-chip {
    font-size: 11px;
    display: flex;
    margin: 0 auto;
}

ion-buttons {
    width: 0%;
}

ion-back-button {
    width: 0;
}
