.my-checkbox {
    display: flex;
    align-items: center;
}

.availabe_hour {
    display: flex;
    align-items: center;
}

.date_chosen {
    display: flex;
    align-items: center;
}

.brbshop_options{
    display: flex;
    align-items: center;
}

.center_row{
    display: flex;
    align-items: center;
}

.title{
    font-size: 25px;
    text-align: center;
    margin-top: 5px;    
}
