<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home/list/{{ list_id }}"></ion-back-button>
        </ion-buttons>
    <ion-title>{{ 'PAGES.BRBDETAILS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>      
      <ion-item lines="none">
        <ion-slides pager="true">
          <ion-slide *ngFor="let slide of slider">
            <img src="http://80.211.65.79:8000/{{ slide }}">
          </ion-slide>
        </ion-slides>  
      </ion-item>

      <ion-item>
        <ion-label class="title" text-center>{{ name }}</ion-label>  
        <ion-button fill="clear" size="small" expand="full" (click)="showLocation()">{{ 'PAGES.BRBDETAILS.SHOW_LOCATION' | translate }}</ion-button> 
      </ion-item>     
      
      <ion-item *ngIf="showServices">
        <div class="title">
          <ion-label text-center class="title" position="stacked">{{ 'PAGES.BRBDETAILS.BRBSHOP_OPTIONS' | translate }}</ion-label> 
        </div>

        <ion-item lines="none">
          <ion-select (ionChange)="gServices($event)" [(ngModel)]="services.name" placeholder="{{ 'PAGES.MODAL.SELECT_SERVICES' | translate }}" style="width: 100%; display: contents; " multiple>        
            <ion-select-option *ngFor="let ser of services" value="{{ ser.price }}">{{ ser.name }} ({{ ser.price }}€)</ion-select-option>
          </ion-select>
        </ion-item>        
      </ion-item>     
      
      <ion-item *ngIf="showDatePicker" lines="none" style="display: inline-block; width: 100%;">
        <ion-button fill style="color: red; position:relative;" (click)="cancel()"><ion-icon name="backspace"></ion-icon><ion-label>Cancel</ion-label></ion-button> 
        <div class="title">
          <ion-label text-center class="title" position="stacked">Your Appointment</ion-label> 
        </div>
      </ion-item>  
      
      <ion-item *ngIf="showBrbPicker">        
        <ion-label>{{ 'PAGES.BRBDETAILS.CHOOSE_BRB' | translate }} </ion-label>
        <ion-select (ionChange)="updateWorkers($event)" placeholder="{{ 'PAGES.BRBDETAILS.CHOOSE_BRB' | translate }}" disabled="{{ disableWrk }}">
          <ion-select-option *ngFor="let wrk of workers" value="{{ wrk.id }}">{{ wrk.name }}</ion-select-option>
        </ion-select>
        <ion-icon *ngIf="disableWrk" name="checkmark-circle-outline"></ion-icon>
      </ion-item>      

      <ion-item *ngIf="showDatePicker">
       <ion-label>{{ 'PAGES.BRBDETAILS.CHOOSE_DATE' | translate }}</ion-label>
        <ion-datetime displayFormat="DD MMMM YY" disabled="{{ disableDate }}" [monthValues]="monthValues" [yearValues]="yearValues" (ionChange)="updateDate($event)" placeholder="{{ 'PAGES.BRBDETAILS.SELECT_DATE' | translate }}"></ion-datetime>
        <ion-icon *ngIf="disableDate" name="checkmark-circle-outline"></ion-icon>
      </ion-item>  

      <ion-item *ngIf="showHourPicker">
        <ion-label>{{ 'PAGES.BRBDETAILS.CHOOSE_HOUR' | translate }}</ion-label>
        <ion-select (ionChange)="updateHour($event)" placeholder="{{ 'PAGES.BRBDETAILS.SELECT_HOUR' | translate }}">
          <ion-select-option *ngFor="let hour of hourValues" value="{{ hour }}">{{ hour }}</ion-select-option>
        </ion-select>
      </ion-item>       

      <ion-item *ngIf="confirmed" color="success">
        <ion-label text-center class="title" position="stacked">{{ 'PAGES.BRBDETAILS.RESERVATION' | translate }}</ion-label><ion-icon name="checkmark-circle-outline"></ion-icon>        
      </ion-item>
      <ion-item *ngIf="confirmed"  color="medium">
        <ion-label>{{ 'PAGES.BRBDETAILS.APP_WITH' | translate }} [Hairdresser {{ wrk_id }}]</ion-label>                
      </ion-item>  
      <ion-item *ngIf="confirmed" color="medium">
        <ion-label>{{ 'PAGES.BRBDETAILS.DAY' | translate }} {{ myDate }}</ion-label>
      </ion-item>   
      <ion-item *ngIf="confirmed" color="medium">
        <ion-label>{{ 'PAGES.BRBDETAILS.HOUR' | translate }} {{ myHour }}</ion-label>
      </ion-item> 
      <ion-item *ngIf="confirmed" color="medium">
        <ion-label>{{ 'PAGES.BRBDETAILS.SERVICES' | translate }}</ion-label><div *ngFor="let ser of selectedServices">[Servicio de {{ ser }}€]</div>
      </ion-item>                
      
      <ion-button *ngIf="showHourPicker" fill style="width:100%; border: solid 1px #ECEBEB;" (click)="confirm()">{{ 'PAGES.BRBDETAILS.CONFIRM' | translate }}</ion-button>         

      <ion-item *ngIf="showPrice">
        <div class="title">
          <ion-label class="title" text-center>{{ 'PAGES.BRBDETAILS.FINAL_PRIZE' | translate }}</ion-label>
        </div>        
        <ion-label style="font-size: 25px;" text-center position="stacked">{{ price }}€</ion-label>  

        <ion-button *ngIf="confirmed" style="width:100%;" color="primary">{{ 'PAGES.BRBDETAILS.PAY' | translate }}</ion-button>
        <ion-button *ngIf="confirmed" (click)="cancel()" color="danger">{{ 'PAGES.BRBDETAILS.CANCEL' | translate }}</ion-button>
    </ion-item>      

      <div class="title">
        <ion-label class="title" text-center>{{ 'PAGES.BRBDETAILS.RATING' | translate }}</ion-label>
      </div>    
      <ion-item lines="none" style="display: inline-block; margin-bottom: -10%; width: 100%;">
          <div class="rating" *ngIf="brb_rating >= 0 && brb_rating < 0.5"><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
          <div class="rating" *ngIf="brb_rating >= 0.5 && brb_rating < 1"><ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
          <div class="rating" *ngIf="brb_rating >= 1 && brb_rating < 1.35"><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
          <div class="rating" *ngIf="brb_rating >= 1.35 && brb_rating < 1.85"><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>              
          <div class="rating" *ngIf="brb_rating >= 1.85 && brb_rating < 2.35"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
          <div class="rating" *ngIf="brb_rating >= 2.35 && brb_rating < 2.85"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>         
          <div class="rating" *ngIf="brb_rating >= 2.85 && brb_rating < 3.35"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>         
          <div class="rating" *ngIf="brb_rating >= 3.35 && brb_rating < 3.85"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon></div>         
          <div class="rating" *ngIf="brb_rating >= 3.85 && brb_rating < 4.35"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></div>         
          <div class="rating" *ngIf="brb_rating >= 4.35 && brb_rating < 4.85"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon></div>
          <div class="rating" *ngIf="brb_rating >= 4.85 && brb_rating <= 5"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>                       
        </ion-item>
        <ion-item>
          <ion-label text-center style="font-size: 15px;" position="stacked">({{ total_rate }} valuations)</ion-label>         
          <ion-item lines ="none">
            <ion-label>{{ 'PAGES.BRBDETAILS.RATE_EXPERIENCE' | translate }}</ion-label>
            <ion-select (ionChange)="getRating($event)" [(ngModel)]="rate" placeholder="{{ 'PAGES.BRBDETAILS.SELECT_ONE' | translate }}">
              <ion-select-option value="5">{{ 'PAGES.BRBDETAILS.EXCELLENT' | translate }}</ion-select-option>
              <ion-select-option value="4">{{ 'PAGES.BRBDETAILS.SO_GOOD' | translate }}</ion-select-option>
              <ion-select-option value="3">{{ 'PAGES.BRBDETAILS.NOT_BAD' | translate }}</ion-select-option>
              <ion-select-option value="2">{{ 'PAGES.BRBDETAILS.SO_BAD' | translate }}</ion-select-option>
              <ion-select-option value="1">{{ 'PAGES.BRBDETAILS.HORRIBLE' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button fill style="width:100%; border: solid 1px #ECEBEB;" (click)="singleRate()">rate</ion-button>
        </ion-item>  
      
      <div class="title">
        <ion-label text-center class="title">{{ 'PAGES.BRBDETAILS.COMMENTS' | translate }}</ion-label>
      </div>    

      <ion-card *ngFor="let com of comments">
        <ion-avatar padding>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <ion-label class="avatar-label">Usuario {{ com.id }}</ion-label>   
        </ion-avatar>            
        <ion-card-header>
          <ion-card-subtitle>
            <!--<ion-label >{{ com.created_at }}</ion-label>-->
            <div class="comment-rate" *ngIf="com.rate >= 0 && com.rate < 0.5"><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
            <div class="comment-rate" *ngIf="com.rate >= 0.5 && com.rate < 1"><ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
            <div class="comment-rate" *ngIf="com.rate >= 1 && com.rate < 1.35"><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
            <div class="comment-rate" *ngIf="com.rate >= 1.35 && com.rate < 1.85"><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>              
            <div class="comment-rate" *ngIf="com.rate >= 1.85 && com.rate < 2.35"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
            <div class="comment-rate" *ngIf="com.rate >= 2.35 && com.rate < 2.85"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>         
            <div class="comment-rate" *ngIf="com.rate >= 2.85 && com.rate < 3.35"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>         
            <div class="comment-rate" *ngIf="com.rate >= 3.35 && com.rate < 3.85"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon><ion-icon name="star-outline"></ion-icon></div>         
            <div class="comment-rate" *ngIf="com.rate >= 3.85 && com.rate < 4.35"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></div>         
            <div class="comment-rate" *ngIf="com.rate >= 4.35 && com.rate < 4.85"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon></div>
            <div class="comment-rate" *ngIf="com.rate >= 4.85 && com.rate <= 5"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></div>               
          </ion-card-subtitle>  
          <ion-card-title>{{ com.subject }}</ion-card-title>        
        </ion-card-header>
        
        <ion-card-content>
          <ion-item>
            {{ com.comment }}
          </ion-item>
          <ion-item lines="none">
            <ion-label >{{ com.created_at }}</ion-label>   
          </ion-item>                 
        </ion-card-content>        
      </ion-card>      
      
      <div *ngIf="is_loged">
        <ion-item style="text-align: center;"><ion-label>{{ 'PAGES.BRBDETAILS.LEAVE_YOUR_COMMENT' | translate }}</ion-label></ion-item>
        <ion-item><ion-label>{{ 'PAGES.BRBDETAILS.SUBJECT' | translate }}</ion-label><ion-input [(ngModel)]="subject" placeholder="{{ 'PAGES.BRBDETAILS.SUBJECT' | translate }}"></ion-input></ion-item>
        <ion-item style="height: 16%;"><ion-textarea [(ngModel)]="comment_text" rows="6" placeholder="{{ 'PAGES.BRBDETAILS.LEAVE_YOUR_COMMENT' | translate }}" maxlength="280" [(ngModel)]="comment"></ion-textarea></ion-item>
        <ion-item lines ="none">
          <ion-label>{{ 'PAGES.BRBDETAILS.RATE_EXPERIENCE' | translate }}</ion-label>
          <ion-select (ionChange)="getRating($event)" [(ngModel)]="rate" placeholder="{{ 'PAGES.BRBDETAILS.SELECT_ONE' | translate }}">
            <ion-select-option value="5">{{ 'PAGES.BRBDETAILS.EXCELLENT' | translate }}</ion-select-option>
            <ion-select-option value="4">{{ 'PAGES.BRBDETAILS.SO_GOOD' | translate }}</ion-select-option>
            <ion-select-option value="3">{{ 'PAGES.BRBDETAILS.NOT_BAD' | translate }}</ion-select-option>
            <ion-select-option value="2">{{ 'PAGES.BRBDETAILS.SO_BAD' | translate }}</ion-select-option>
            <ion-select-option value="1">{{ 'PAGES.BRBDETAILS.HORRIBLE' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none"><ion-button fill style="width:100%; border: solid 1px #ECEBEB;" (click)="sendComment()">{{ 'PAGES.BRBDETAILS.COMMENT' | translate }}</ion-button></ion-item>
      </div> 
      
      <div *ngIf="!is_loged">
        <ion-item lines="none"><ion-button fill style="width:100%; border: solid 1px #ECEBEB;" (click)="goToLogin()">{{ 'PAGES.BRBDETAILS.LOG_IN_TO' | translate }}</ion-button></ion-item>
      </div>
  </ion-list>
</ion-content>
