<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home/list/{{ list_id }}"></ion-back-button>
        </ion-buttons>
    <ion-title>{{ 'PAGES.BRBDETAILS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>      
      <ion-item lines="none">
        <ion-slides pager="true">
          <ion-slide *ngFor="let slide of slider">
            <img [src]="slide.image"/>
          </ion-slide>
        </ion-slides>
        <!--<img src="./assets/imgs/barber1.jpg" style="width: 100%;height: 40vh;">-->        
      </ion-item>

      <ion-item>
        <ion-label class="title" text-center>Barbershop</ion-label>  
        <ion-button fill="clear" size="small" expand="full" (click)="showLocation()">{{ 'PAGES.BRBDETAILS.SHOW_LOCATION' | translate }}</ion-button> 
      </ion-item>                

      <!-- CUANDO ME PONGA CON ACTUALIZAR LOS CALENDARIOS Y HORAS DE LAS BARBERIAS LE TENGO QUE ECHAR UN OJO A ESTO: -->
      <!-- https://ionicframework.com/docs/api/datetime LA PARTE DE Properties/hourValues que puede ser un array de horas,
      igual con las fechas. -->
      <ion-item>
       <ion-label>{{ 'PAGES.BRBDETAILS.CHOOSE_DATE' | translate }}</ion-label>
        <ion-datetime displayFormat="DD MMMM YY" placeholder="{{ 'PAGES.BRBDETAILS.SELECT_DATE' | translate }}"></ion-datetime>
      </ion-item>  

      <ion-item>
        <ion-label>{{ 'PAGES.BRBDETAILS.CHOOSE_HOUR' | translate }}</ion-label>
        <ion-datetime displayFormat="HH:mm" placeholder="{{ 'PAGES.BRBDETAILS.SELECT_HOUR' | translate }}"></ion-datetime>
      </ion-item>    

      <ion-item>
        <ion-label text-center position="stacked">{{ 'PAGES.BRBDETAILS.BRBSHOP_OPTIONS' | translate }}</ion-label> 
        <div class="center_row">                                   
          <ion-item text-center class="my-checkbox">
              <ion-checkbox name="hair_cut"></ion-checkbox>
              <ion-label>&nbsp; {{ 'PAGES.BRBDETAILS.HAIR_CUT' | translate }}</ion-label>
          </ion-item>
          <ion-item float-left class="my-checkbox">
              <ion-checkbox name="shaving"></ion-checkbox>
              <ion-label>&nbsp; {{ 'PAGES.BRBDETAILS.SHAVING' | translate }}</ion-label>
          </ion-item>
        </div>
      </ion-item>

      <ion-item>
          <ion-label text-center position="stacked">{{ 'PAGES.BRBDETAILS.FINAL_PRIZE' | translate }}</ion-label>
          <ion-label text-center position="stacked" name="prize">Prize</ion-label>         
          <ion-button>{{ 'PAGES.BRBDETAILS.PAY' | translate }}</ion-button>
      </ion-item>
        <ion-label text-center class="title">{{ 'PAGES.BRBDETAILS.COMMENTS' | translate }}</ion-label>      
        <ion-card>
            <ion-avatar padding>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          <ion-card-header>
            <ion-card-subtitle>Rating: 4/5</ion-card-subtitle>
            <ion-card-title>Pablo Rodriguez</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            This application is awesome!
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-avatar padding>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          <ion-card-header>
            <ion-card-subtitle>Rating: 2/5</ion-card-subtitle>
            <ion-card-title>Manuel Herrera</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            This application is bullshit!
          </ion-card-content>
        </ion-card>
      
      <ion-button color="light" expand="full" (click)="presentAlertPrompt()">
        {{ 'COMMENT' | translate }}
      </ion-button>
  </ion-list>
</ion-content>
