<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/history"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PAGES.HISTORY_DETAILS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-text-center">
    <h1>Reserva en: Tres Peluqueros</h1>
    <h4>Identificador: 22345</h4>
  </div>
    <h1>Servicios:</h1>
    <ul>
      <li>Corte de pelo</li>
    </ul>
    <h1>Fecha: 25/03/2019 17:15</h1>
    <h1>Pagado: <ion-icon color="success" name="checkmark-circle"></ion-icon></h1>
  <div class="ion-text-right">
    <h1>Total: 11€</h1>
  </div>
  <div class="ion-text-center">
    <br>
    <h1 style="color:gray">La reserva ya ha expirado</h1>
  </div>
</ion-content>
