<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/history"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PAGES.HISTORY_DETAILS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  
  <ion-item>
    <ion-label class="ion-text-center">
      <b style="font-size:1.14em">{{ reservation.hairdressing.name }}</b>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>{{ 'PAGES.HISTORY_DETAILS.ID' | translate }}:</b>
    </ion-label>
    <ion-note slot="end" style="font-size:1.14em">
        {{ reservation.id }}
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
        <b>{{ 'PAGES.HISTORY_DETAILS.SERVICES' | translate }}:</b>
    </ion-label>
    <ion-note slot="end">
        <span *ngFor="let item of reservation.services; index as i">{{ item.name }}<span *ngIf="i !== reservation.services.length-1">, </span></span>
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
        <b>{{ 'PAGES.HISTORY_DETAILS.DATE' | translate }}:</b>
    </ion-label>
    <ion-note slot="end" style="font-size:1.14em">
      {{ reservation.date | date: 'dd-MM-yyyy H:m' }}
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label>
        <b>{{ 'PAGES.HISTORY_DETAILS.PAID' | translate }}:</b>
    </ion-label>
    <ion-icon *ngIf="reservation.paid == 1" name="checkmark-circle" slot="end" color="success"></ion-icon>
    <ion-icon *ngIf="reservation.paid == 0" name="close-circle" slot="end" color="danger"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>
        <b>{{ 'PAGES.HISTORY_DETAILS.TOTAL' | translate }}:</b>
    </ion-label>
    <ion-note slot="end" style="font-size:1.14em">
      {{ reservation.current_amount }}€
    </ion-note>
  </ion-item>
  <ion-item *ngIf="isOld()">
      <ion-label class="ion-text-center">
          <span style="color:gray">{{ 'PAGES.HISTORY_DETAILS.NO_CANCEL' | translate }}</span>
      </ion-label>
  </ion-item>
  <ion-item *ngIf="!isOld()" (click)="cancelReservation()" color="danger">
      <ion-label class="ion-text-center">
          <span *ngIf="!isOld()">{{ 'PAGES.HISTORY_DETAILS.CANCEL' | translate }}</span>
      </ion-label>
  </ion-item>
</ion-content>
