<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/history"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PAGES.HISTORY_DETAILS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3><b>Información de la reserva</b></h3>
  <h4><b>Peluqueria:</b> {{ reservation.hairdressing.name }}</h4>
  <p style="font-size:0.7em"><em><b>Identificador:</b> {{ reservation.id }}</em></p>
  <p><b>Servicios:</b></p>
  <ul>
    <li *ngFor="let item of reservation.services">{{ item.name }}</li>
  </ul>

  <p><b>Fecha:</b> {{ reservation.date }}</p>
  <p *ngIf="reservation.paid == 1"><b>Pagado:</b>&nbsp;<ion-icon color="success" name="checkmark-circle"></ion-icon></p>
  <p *ngIf="reservation.paid == 0"><b>Pagado:</b>&nbsp;<ion-icon color="danger" name="close-circle"></ion-icon></p>
  <div class="ion-text-right">
    <p><b>Total:</b> {{ reservation.current_amount }}€</p>
  </div>
  <div class="ion-text-center">
    <br>
    <h1 *ngIf="" style="color:gray">La reserva ya ha expirado</h1>
  </div>
</ion-content>
