<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile - HiCut
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-text-center">
    <h1>Login</h1>
    <br>
    <ion-item>
        <ion-input type="text" placeholder="Your nickname or email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="password" placeholder="Your password"></ion-input>
    </ion-item>
    <br>
    <ion-button fill="outline" color="primary">Login</ion-button>
    <ion-button fill="outline" color="primary">Register</ion-button>
  </div>
</ion-content>
