<ion-header>
  <ion-toolbar>
    <ion-title>
        {{ 'PAGES.LOGIN.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-text-center">
    <h1>{{ 'PAGES.LOGIN.TITLE2' | translate }}</h1>
    <br>
    <ion-item>
        <ion-input id="email" [(ngModel)]="email" type="text" placeholder="{{ 'PAGES.LOGIN.USERNAME_PLACEHOLDER' | translate }}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input id="password" [(ngModel)]="password" type="password" placeholder="{{ 'PAGES.LOGIN.PASSWORD_PLACEHOLDER' | translate }}"></ion-input>
    </ion-item>
    <br>
    <ion-button fill="outline" color="primary" (click)="processLoginData()">{{ 'PAGES.LOGIN.LOGIN_BTN' | translate }}</ion-button>
    <ion-button fill="outline" color="primary" (click)="goToRegister()">{{ 'PAGES.LOGIN.REGISTER_BTN' | translate }}</ion-button>
  </div>
</ion-content>
