<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PAGES.LIST.TITLE' | translate }}</ion-title>
    <ion-title *ngIf="list_id == 1"><div class="subtitle">{{ 'PAGES.LIST.FOR_MEN' | translate }}</div></ion-title>
    <ion-title *ngIf="list_id == 2"><div class="subtitle">{{ 'PAGES.LIST.FOR_WOMEN' | translate }}</div></ion-title>
    <ion-title *ngIf="list_id == 3"><div class="subtitle">{{ 'PAGES.LIST.ALL' | translate }}</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-buttons> <button ion-button item-right (click)=“refreshData()”> <ion-icon name=“refresh”></ion-icon> </button> </ion-buttons> -->

  <ion-searchbar animated></ion-searchbar>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <ion-card (click)="toDetail(1)">
        <ion-card-header>
          <ion-card-title>{{ 'PAGES.LIST.BARBERSHOP' | translate }} 1</ion-card-title>
        </ion-card-header>

        <ion-item>
          <img src="./assets/imgs/barber1.jpg" class="brb-img">
        </ion-item>        
        
        <ion-item color="primary" lines="none">
            <ion-label>{{ 'PAGES.LIST.APP_TODAY' | translate }} </ion-label>
            <ion-icon name="checkbox-outline"></ion-icon>              
        </ion-item>
        
        <ion-item color="primary" lines="none">
          <ion-label>{{ 'PAGES.LIST.LOCATION' | translate }} 1 Km.</ion-label>
          <ion-icon name="walk"></ion-icon>
        </ion-item>
        
        <ion-item color="success" lines="none">
            <ion-label>{{ 'PAGES.LIST.OPEN_TODAY' | translate }} </ion-label>
            <ion-icon name="done-all"></ion-icon>              
        </ion-item>
    </ion-card>

    <ion-card (click)="toDetail(2)">
        <ion-card-header>
            <ion-card-title>{{ 'PAGES.LIST.BARBERSHOP' | translate }} 2</ion-card-title>
        </ion-card-header>

        <ion-item lines="none">
          <img src="./assets/imgs/barber2.jpg" class="brb-img">
        </ion-item>        
      
        <ion-item lines="none" color="primary">
          <ion-label>{{ 'PAGES.LIST.APP_TODAY' | translate }} </ion-label>
          <ion-icon name="checkbox-outline"></ion-icon>
        </ion-item>

        <ion-item color="primary" lines="none">
            <ion-label>{{ 'PAGES.LIST.LOCATION' | translate }} 1 Km.</ion-label>
            <ion-icon name="walk"></ion-icon>
        </ion-item>

        <ion-item color="danger" lines="none">
            <ion-label>{{ 'PAGES.LIST.CLOSE_TODAY' | translate }} </ion-label>
            <ion-icon name="close-circle-outline"></ion-icon>              
        </ion-item>
    </ion-card>

    <ion-card (click)="toDetail(3)">
        <ion-card-header>
            <ion-card-title>{{ 'PAGES.LIST.BARBERSHOP' | translate }} 3</ion-card-title>
        </ion-card-header>

        <ion-item lines="none">
          <img src="./assets/imgs/barber3.jpg" class="brb-img">
        </ion-item>        
      
          <ion-item color="primary" lines="none">
              <ion-label>{{ 'PAGES.LIST.APP_TODAY' | translate }} </ion-label>
              <ion-icon name="checkbox-outline"></ion-icon>
          </ion-item>
          <ion-item color="primary" lines="none">
              <ion-label>{{ 'PAGES.LIST.LOCATION' | translate }} 1 Km.</ion-label>
              <ion-icon name="walk"></ion-icon>
          </ion-item>

          <ion-item color="success" lines="none">
              <ion-label>{{ 'PAGES.LIST.OPEN_TODAY' | translate }} </ion-label>
              <ion-icon name="done-all"></ion-icon>              
          </ion-item>          
    </ion-card>
  </div>
</ion-content>
