<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PAGES.LIST.TITLE' | translate }}</ion-title>
    <ion-title *ngIf="list_id == 1"><div class="subtitle">{{ 'PAGES.LIST.FOR_MEN' | translate }}</div></ion-title>
    <ion-title *ngIf="list_id == 2"><div class="subtitle">{{ 'PAGES.LIST.FOR_WOMEN' | translate }}</div></ion-title>
    <ion-title *ngIf="list_id == 3"><div class="subtitle">{{ 'PAGES.LIST.ALL' | translate }}</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-buttons> <button ion-button item-right (click)=“refreshData()”> <ion-icon name=“refresh”></ion-icon> </button> </ion-buttons> -->

  <ion-searchbar animated></ion-searchbar>
  <ion-card (click)="toDetail(1)">
      <ion-item>
        <img src="./assets/imgs/barber1.jpg" style="width: 100%;height: 40vh;">
      </ion-item>

      <ion-card-header>
          <ion-card-title>{{ 'PAGES.LIST.BARBERSHOP' | translate }} 1</ion-card-title>
        </ion-card-header>
    
        <ion-item>
            <ion-label>{{ 'PAGES.LIST.APP_TODAY' | translate }} </ion-label>
            <ion-icon name="checkbox-outline"></ion-icon>
        </ion-item>
  </ion-card>

  <ion-card (click)="toDetail(2)">
      <ion-item>
        <img src="./assets/imgs/barber2.jpg" style="width: 100%;height: 40vh;">
      </ion-item>

      <ion-card-header>
          <ion-card-title>{{ 'PAGES.LIST.BARBERSHOP' | translate }} 2</ion-card-title>
        </ion-card-header>
    
      <ion-item>
        <ion-label>{{ 'PAGES.LIST.APP_TODAY' | translate }} </ion-label>
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-item>
  </ion-card>

  <ion-card (click)="toDetail(3)">
      <ion-item>
        <img src="./assets/imgs/barber3.jpg" style="width: 100%;height: 40vh;">
      </ion-item>

      <ion-card-header>
          <ion-card-title>{{ 'PAGES.LIST.BARBERSHOP' | translate }} 3</ion-card-title>
        </ion-card-header>
    
        <ion-item>
            <ion-label>{{ 'PAGES.LIST.APP_TODAY' | translate }} </ion-label>
            <ion-icon name="checkbox-outline"></ion-icon>
        </ion-item>
  </ion-card>
</ion-content>
