<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>BarberShops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-buttons> <button ion-button item-right (click)=“refreshData()”> <ion-icon name=“refresh”></ion-icon> </button> </ion-buttons> -->

  <ion-searchbar animated></ion-searchbar>
  <ion-card (click)="toDetail(1)">
      <ion-item>
        <img src="./assets/imgs/barber1.jpg" style="width: 100%;height: 40vh;">
      </ion-item>

      <ion-card-header>
          <ion-card-title>BarberShop 1</ion-card-title>
        </ion-card-header>
    
        <ion-item>
            <ion-label>Appointment for today: </ion-label>
            <ion-icon name="checkbox-outline"></ion-icon>
        </ion-item>
  </ion-card>

  <ion-card (click)="toDetail(2)">
      <ion-item>
        <img src="./assets/imgs/barber2.jpg" style="width: 100%;height: 40vh;">
      </ion-item>

      <ion-card-header>
          <ion-card-title>BarberShop 2</ion-card-title>
        </ion-card-header>
    
      <ion-item>
        <ion-label>Appointment for today: </ion-label>
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-item>
  </ion-card>

  <ion-card (click)="toDetail(3)">
      <ion-item>
        <img src="./assets/imgs/barber3.jpg" style="width: 100%;height: 40vh;">
      </ion-item>

      <ion-card-header>
          <ion-card-title>BarberShop 3</ion-card-title>
        </ion-card-header>
    
        <ion-item>
            <ion-label>Appointment for today: </ion-label>
            <ion-icon name="checkbox-outline"></ion-icon>
        </ion-item>
  </ion-card>
</ion-content>
