<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PAGES.ACCOUNTSETTINGS.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
        <!--<ion-button defaultHref="/account-settings">
            <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
        </ion-button>-->
        <ion-button (click)="showAlert()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content padding>  
  <ion-item lines="none" class="user-head">
    <ion-label style="font-size: 17px;">{{ name }} {{ surname }}</ion-label>
    <img class="circle-pic" src="{{ url }}{{ avatar }}" />
  </ion-item>
  
  <ion-item class="title">
    <ion-label text-center>{{ 'PAGES.ACCOUNTSETTINGS.PERSONAL_INFO' | translate }}</ion-label>            
  </ion-item>   
  <ion-item *ngIf="address != null && city != null && country != null && address != undefined && city != undefined && country != undefined && address != '' && city != '' && country != ''">
    <ion-icon name="pin"></ion-icon><ion-label class="title-label">{{ 'PAGES.ACCOUNTSETTINGS.LOCATION' | translate }}</ion-label><ion-label class="sub-label">{{ address }}, {{ city }}, {{ country }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail"></ion-icon><ion-label class="title-label">{{ 'PAGES.ACCOUNTSETTINGS.EMAIL' | translate }}</ion-label><ion-label class="sub-label">{{ email }}</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="phone-portrait"></ion-icon><ion-label class="title-label">{{ 'PAGES.ACCOUNTSETTINGS.PHONE' | translate }}</ion-label><ion-label class="sub-label">{{ phone }}</ion-label>
  </ion-item>
  
  <ion-item style="margin: 0px -1px -1px 0">
    <ion-button fill style="width: 100%; color:blue" (click)="presentModal()">{{ 'PAGES.ACCOUNTSETTINGS.EDIT_PROFILE' | translate }}</ion-button>
  </ion-item>

  <ion-item lines ="none" class="title" *ngIf="brbshops.length != 0">
    <ion-label text-center>{{ 'PAGES.ACCOUNTSETTINGS.LAST_BRBSHOPS' | translate }}</ion-label>    
  </ion-item>
  <ion-item lines="none">
    <div class="thumbnails">
      <div class="list-thumbnail">
        <div *ngFor="let brb of brbshops" class="img-thumb" (click)="toDetail(brb.id)">
          <img class="barber-pic" src="{{ url }}{{ brb.img }}" />
        </div>       
      </div>
    </div>
  </ion-item>
</ion-content>
