// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.my-custom-modal-css .modal-wrapper {
    height: 48%;
    top: 20%;
    position: absolute;
    display: block;
}

.custom-gallery-component .modal-wrapper {
    height: 30%;
    width: 90%;
    top: 30%;
    position: absolute;
    display: block;
}

.reservation-css .modal-wrapper {
    width: 90%;
    height: 55%;
    top: 15%;
    position: absolute;
    display: block;
}

.sort-options .modal-wrapper {
    height: 60%;
    top: 15%;
    position: absolute;
    display: block;
}

.email-css .modal-wrapper {
    width: 90%;
    height: 35%;
    top: 25%;
    position: absolute;
    display: block;
}

.info-component .modal-wrapper {
    width: 90%;
    height: 15%;
    min-height: 15%;
    top: 42%;
    position: absolute;
    display: block;
}
