<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'PAGES.HOME.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content padding>
  <div class="content-center">
    <div class="ion-text-center">
      <h1 style="color:white;text-shadow: 2px 2px 5px #000000;">{{ 'PAGES.HOME.WELCOME' | translate }}</h1>
      <br>
      <h3 style="color:white;text-shadow: 2px 2px 5px #000000;">{{ 'PAGES.HOME.WHAT_NEED' | translate }}</h3>
    </div>
    <br>
    <ion-button color="light" expand="full" (click)="pushListMen()">
        {{ 'PAGES.HOME.FOR_MEN' | translate }}
    </ion-button>
    <br>
    <ion-button color="light" expand="full" (click)="pushListWoman()">
        {{ 'PAGES.HOME.FOR_WOMEN' | translate }}
    </ion-button>
    <br>
    <ion-button color="light" expand="full" (click)="pushListEveryOne()">
        {{ 'PAGES.HOME.FOR_ALL' | translate }}
    </ion-button>
  </div>    
</ion-content>
